ul(id="messages")
div(class='row')
  form(class='form-inline', id='chat', action='')
    div(class='col-md-10')
      input(class='form-control', id='m')
    div(class='col-md-2')
      button(class='btn btn-default') Send
script.
  $('#chat').submit(function() {
    var msg = $('#m').val();
    var username = get_cookie('username');
    if (username == '') {
      alert('You must be logged in to chat.')
    } else {
      socket.emit('chat message', {
        username: username,
        text: msg
      });
    }
      $('#m').val('');
    return false;
  });
  socket.on('chat message', function(msg_obj) {
    var new_item = $('<li>').text(msg_obj['text']);
    if (msg_obj['emph']) {
      new_item.css('font-style', 'italic');
    }
    $('#messages').append(new_item);
    $('#messages')[0].scrollTop = $('#messages')[0].scrollHeight;
  });
