ul(id="chat-navtabs", class="nav nav-tabs")
  li(id="chat-navtab-li", role="presentation")
    a(id="chat-navtab-a", href="#chat-tab", data-toggle='tab') Chat
  li(id="jubbin-list-navtab-li", role="presentation", class="active")
    a(id="jubbin-list-navtab-a", href="#jubbin-list-tab", data-toggle='tab') Who's jubbin'
div(id="chat-tab-content", class="tab-content")
  div(class="tab-pane active" id="chat-tab")
    ul(id="messages", class="jub-list")
  div(class="tab-pane active" id="jubbin-list-tab")
    ul(id="jubbin-list", class="jub-list")

script.

  var scrolled_up = false;
  var current_users = {};

  // Basic regex that accepts a line that consists only of a URL
  var urlRegex = /^(http:\/\/|https:\/\/)?([a-z0-9][a-z0-9\-]*\.)+[a-z0-9][a-z0-9\-]*[^\s]*$/i;
  var imageRegex = /[^\s]+(\.(jpeg|jpg|png|gif|bmp))$/i;

  function draw_current_users() {
    $('#jubbin-list').empty();
    for (user of current_users) {
      $('#jubbin-list').append(
        $('<li>').text(user.name).css('color', user.color)
      );
    }
  }

  $('#chat-navtabs a').click(function (e) {
    // Show it now so that we can do some polishing on the revealed element
    e.preventDefault();
    $(this).tab('show');

    // Depending on which tab we're opening, update certain UI elements
    if (e.currentTarget.id == 'jubbin-list-navtab-a') {
      draw_current_users();
    } else {
      $('#messages').trigger('update_scroll');
    }
  })

  // Message from server saying who's connected
  socket.on('current users', function(users) {
    current_users = users;
    draw_current_users();
  });

  // Scroll chat to bottom if needed
  $('#messages').bind('update_scroll', function() {
    if (!scrolled_up) {
      this.scrollTop = this.scrollHeight;
    }
  });

  // Called whenever chat box is scrolled, including on window resizes
  // TODO put this on the same, slower timing as other resize functions
  $('#messages').scroll(function() {
    var elem = $( this );
    var max_height = parseInt(elem.css('max-height'), 10);
    scrolled_up = (Math.abs(this.scrollHeight - this.scrollTop - elem.height()) > 10);
  });

  // TODO allow links interweaved with other text
  var makeLink = function(line) {
    var adjusted = line;
    if(line.indexOf('http') !== 0) {
      adjusted = 'http://' + line;
    }
    var a = $( '<a>' ).attr({
      'href': adjusted,
      'target': '_blank'
    });
    a.append(document.createTextNode(line));
    return a;
  }

  var makeImage = function(line) {
    var adjusted = line;
    if(line.indexOf('http') !== 0) {
      adjusted = 'http://' + line;
    }
    var image = $( '<img>' ).attr({
      'src': adjusted
    });
    _.defer(function() {
      var elemMaxWidth = $('#messages > li');
      $( this ).css( 'width', (0.9 * elemMaxWidth.width()) + 'px' );
      $( this ).css( 'height', 'auto' );
    }.bind(image))
    return image;
  }

  function convertLineToElement(line){
    var elem = $('<span>');
    _.chain(line.split(' ')).map(function(word) {
      var transformedWord;
      var isLink = (urlRegex).test(word);
      if(isLink) {
        var isImage = (imageRegex).test( word );
        if ( isImage && get_cookie('hide-inline-images') != 1) {
          transformedWord = makeImage( word );
        } else {
          transformedWord = makeLink( word );
        }
        transformedWord.text( transformedWord.text() + " " );
      } else {
        transformedWord = document.createTextNode( word + " ");
      }

      return transformedWord;
    }).each(function(component){
      elem.append(component);
    }).value();
    return elem;
  };

  var new_chat_li = function(msg_obj) {
    var li = $('<li>');

    // Emoting?
    if (msg_obj.emote) {
      var full_text = msg_obj.user + ' ' + msg_obj.text;
      li.append(li.append(document.createTextNode(full_text)));
      li.css({
        'font-style': 'italic',
        'color': msg_obj.color
      });
    } else {

      // TODO move all styling into stylesheets
      var heading = $('<p>');
      heading.css({
        'margin-bottom': 0
      });

      // Start with the (bold) user name
      var user = $('<span>');
      user.css({
        'font-weight': 'bold',
        'color': msg_obj.color,
        'float': 'left'
        });
      user.append(document.createTextNode(msg_obj.user));
      heading.append(user);

      // Now add a timestamp TODO configurable format
      var time = $('<span>');
      time.css({
        'float': 'right',
        'color': '#666666'
      });
      var time_format = '%I:%M:%S %p'
      var msg_time = '';
      if (msg_obj.hasOwnProperty('time')) {
        msg_time = strftime(time_format, new Date(msg_obj.time));
      } else {
        msg_time = strftime(time_format);
      }
      time.append(document.createTextNode(msg_time));
      heading.append(time);

      // Append heading to chat message
      li.append(heading);

      // Add each line of the message, with <br>'s in between
      _.each(msg_obj.text.split('\n'), function(line) {
        li.append('<br>');
        li.append(convertLineToElement(line));
      } );
      if (msg_obj.hasOwnProperty( 'customPanelBorder' )) {
        li.css('list-style-position', 'inside');
        li.css('border', '1px solid ' + msg_obj.customPanelBorder);
        time.css('color', '#888899');
      }
    }
    return li;
  }

  // Chat message received from server
  socket.on('chat message', function(msg_obj) {
    this.last_user = this.last_user || "";
    this.last_emote = this.last_emote || false;
    if (msg_obj.text == undefined) return;
    msg_obj.user = msg_obj.user || '???';

    // Detect mentions and notify in title bar
    if (msg_obj.text.indexOf(get_username()) >= 0) {
      if (!msg_obj.is_bot) {
        $.titleAlert(msg_obj.user + ' says...', {
          requireBlur: true,
          duration: 0,
          interval: 700
        });
      }
    }

    var list = $('#messages');
    var chat_li;
    if(msg_obj.user != this.last_user || msg_obj.is_bot || msg_obj.emote
       || this.last_emote || this.last_color != msg_obj.color) {
      this.last_emote = msg_obj.emote;
      this.last_user = msg_obj.user;
      this.last_color = msg_obj.color;
      chat_li = new_chat_li(msg_obj);
      list.append(chat_li);
    } else {
      chat_li = list.find('li').last()
      _.each(msg_obj.text.split('\n'), function(line) {
        chat_li.append('<br>');
        chat_li.append(convertLineToElement(line));
      } );
    }
    $('#messages').trigger('update_scroll');
  });

  // The chat is the correct initially-active tab; we loaded the page with the
  // jubbin-list active and now click over to chat as a workaround to make the
  // jubbin-list hide properly after page load. TODO what's the right way?
  $( document ).ready(function() {
    $('#chat-navtab-a').click();
  });
