doctype html
html(lang="en")
  head
    include ./head.jade
    script.
      var socket = io();
  body
    div(class='container-fluid', id='jub-container')
      include ./top.jade

      // Main page content
      div(class='row', id='jub-row-main')
        div(class='col-md-3', id='jub-col-queue')
          include ./queue.jade

        div(class='col-md-6', id='jub-col-player')
          include ./player.jade

        div(class='col-md-3', id='jub-col-chat')
          include ./chat.jade

    // Outside of the container
    include ./bottom.jade

// Javascript-only files
script(src='/javascripts/resizing.js')
script(src='/javascripts/global.js')
