doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/bootstrap.js")
    script(src="https://cdn.socket.io/socket.io-1.3.5.js")
  body
    link(rel='stylesheet', href='/stylesheets/style.css')
    h1= title
    br
    p Welcome to #{title}
    br
    // page content
    block content

    // chat window TODO move this into its own file
    div Chat!
    ul(id="messages")
    form(id="chat", action='')
      input(id='m', autocomplete='off')
      button Send
    script.
      var socket = io();
      $('form').submit(function() {
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg) {
        $('#messages').append($('<li>').text(msg));
        $('#messages')[0].scrollTop = $('#messages')[0].scrollHeight;
      });
