doctype html
html(lang="en")
  head
    include ./head.jade
  body
    link(rel="shortcut icon", href="/favicon", type="image/x-icon")
    div(class='container-fluid', id='jub-container')
      include ./top.jade

      // Main page content
      div(class='row', id='jub-row-main')
        div(class='col-md-3', id='jub-col-queue')
          include ./queue.jade

        div(class='col-md-6', id='jub-col-player')
          include ./player.jade

        div(class='col-md-3', id='jub-col-chat')
          include ./chat.jade

    // Outside of the container
    include ./bottom.jade

// Load some JavaScript files
script(src='/javascripts/resizing.js')
script(src='/javascripts/gapi.js')
script(src='/javascripts/global.js')

// Loaded here because the "on load" callback needs to be defined first
script(src="https://apis.google.com/js/client.js?onload=OnGAPILoad")
