doctype html
html(lang="en")
  head
    include ./head.jade
    script.
      // TODO put this somewhere else or load someone else's cookie fns
      function get_cookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
      }
      var socket = io();
  body
    div(class='container-fluid')
      div(class='page-header')
        h1= title
        p Welcome to #{title}
      div(class='row')
        div(class='col-md-2')
          include ./menu.jade

        // video area
        div(class='col-md-7')
          include ./video.jade

        div(class='col-md-3')
          include ./chat.jade

