div(class='row')
  label(for='current-users') Who's jubbin':
  ul(id='current-users')
div(class='row', style='bottom:30px; position:fixed;')
  div(class='col-xs-12')
    a(href='https://github.com/aromatt/jub.dj/issues',
      target="_blank") Report bug or request feature
