include ./head.jade

script(src='/javascripts/gapi.js')

// Loaded second because OnLoadCallback needs to be defined first
script(src="https://apis.google.com/js/client.js?onload=OnLoadCallback")

h4(id='oauth_message', style='text-align:center') Redirecting...

script.
  var store_token = function(token) {
    var expiration_date = new Date();
    expiration_date.setFullYear(expiration_date.getFullYear() + 1);
    document.cookie = 'yt_oauth_token=' + token + "; " +
                      'expires=' + expiration_date.toGMTString();
  }

  // If access was granted, save the token YouTube gave us in a cookie and
  // redirect to the private page. Otherwise, redirect to a page confirming
  // the user's denial of access.
  var hash = window.location.hash;
  if (hash.indexOf('access_token') > -1) {
    var token = window.location.hash.split('access_token=')[1].split('&')[0];
    $.get('https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=' + token,
      function(resp) {
        console.log(resp);
      });

    /*store_token(token);
    socket.emit('youtube token', token, function(resp) {
      console.log(resp);
    });
    window.location.replace("#{ok_route}");*/
  } else {
    window.location.replace("#{err_route}");
  }
