script.

  // Any desired effects of changing username should go in here
  var update_username = function(username) {
    var expiration_date = new Date();
    expiration_date.setFullYear(expiration_date.getFullYear() + 1);
    document.cookie = 'username=' + username + "; " +
                      'expires=' + expiration_date.toGMTString();
    socket.emit('user update', username);
    $('#queue-label').text(username + "'s queue:");
  }

  var get_username = function() {
    return get_cookie('username') || 'someone';
  }

  // Username input box
  $('#auth').submit(function() {
    var username = $('#username').val();
    console.log('submitting username', username);
    update_username(username);
    $('#username').val('');
    return false;
  });

  // Document is loaded so cookies are probably ready
  $( document ).ready(function() {
    socket.emit('user loaded', get_username());
  });

  // Server is asking who is present
  socket.on('ping users', function() {
    socket.emit('user present', get_username());
  });
