script.

  var store_username = function(username) {
    set_cookie('username', username);
  }

  // Any desired effects of the user changing username should go in here
  var update_username = function(username) {
    store_username(username);
    socket.emit('user update', username);
  }

  var get_username = function() {
    return get_cookie('username');
  }

  // Username input box
  $('#auth').submit(function() {
    var username = $('#username').val();
    if (username && username.length > 0) {
      update_username(username);
      $('#username').val('');
    }
    return false;
  });

  // Document is loaded so cookies are probably ready. If the username cookie
  // is empty, the server will assign us a name, and we'll store it.
  $( document ).ready(function() {
    socket.emit('user loaded', get_username(), function(assigned) {
      store_username(assigned.name);

      // Update DJ button (and local state)
      $('#join-dj').trigger('set-dj-state', assigned.dj);
    });
  });

  // Server is asking who is present
  socket.on('ping users', function() {
    socket.emit('user present', get_username());
  });
