* {
  box-sizing: border-box;
  border-radius: 0 !important; /* square corners */
}

a {
  color: #0097AA;
}

html {
}

.page-header {
  margin-top: 15px;
  padding: 0;
  line-height: normal;
}

.jub-container {
  width: auto;
  height: auto;
}

#jub-row-main {
  margin-left: 0px;
  margin-right: 0px;
  height: 500px;
}

body {
  font-size: 13px;
  background-color: #161616;
  color: #DDDDEE;
  max-height: 10000000px;
  height: 100%;
}

.form-control {
  border: 0px;
  background-color: #222222;
  color: #BBBBBB;
  font-size: 13px;
}

.btn {
  background-color: #3F2C52;
  border-color: #3F2C52;
  color: #fff;
  font-size: 13px;
}

.flex-centered {
  float: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/* jub-style lists */
.jub-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
.jub-list li {
  padding: 5px 10px;
  background: #111;
  font-size: 13px;
}
.jub-list li:nth-child(odd) { background: #1C1C1C; }

/* video player */
#player {
  margin: 25px auto;
}

/* title */
#title {
  position: fixed;
  right: 50px;
}

/* chat input and history */
#chat-input {
  /* this will be dynamically sized; this is just a ballpark */
  width: 100%;
  position: fixed;
  bottom: 20px;
}

#messages {
  /*max-height: 500px; */
  overflow-y:auto;
}

#video-queue {
  max-height: 300px;
  overflow-y:auto;
}

/* current users */
#current-users { list-style-type: none; margin: 0; padding: 0; }
#current-users { max-height: 200px; overflow-y:auto; }

/*
 * Autocomplete
 */

/* Hide weird accessibility thing from jquery-ui's autocomplete */
.ui-helper-hidden-accessible { position: absolute; left: -9999px; }
.ui-autocomplete { position: absolute; cursor: default; }

/* TODO maybe use later */
/*.ui-autocomplete-loading {
  background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}*/

/* workarounds */
* html .ui-autocomplete {
  width:1px;
  background-color: #181818;
  color: #DDDDEE;
} /* without this, the menu expands to 100% in IE6 */

.ui-menu {
  /*
  width:227px;
  */
  list-style:none;
  padding: 5px;
  margin: 0;
  display:block;
}
.ui-menu .ui-menu-item {

  margin:0;
  padding: 0;
  font-size: 12px;
  /* width: 200px; */
}
.ui-menu .ui-menu-item a {
  background-color: #181818;
  color: #DDDDEE;
  text-decoration:none;
  display:block;
  padding:.2em .4em;
  line-height:1.5;
  zoom:1;
}
.ui-widget-content {
  background: #181818;
  background-color: #181818;
  color: #DDDDEE;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  margin: -1px;
}

.form-control {
  font-size: 13px;
}


