* { box-sizing: border-box; }

body {
  /* padding: 5px 5px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
  color: #00B7FF;
}


#chat {
  /* background: #333; */
  border: 1;
  position: fixed;
  bottom: 10px;
}
/*
#chat input {
  border: 0;
  padding: 10px;
}

#chat .col-md-2 {
  padding: 0;
}

#chat button {
  background: rgb(150, 170, 175);
  border: 2px;
  padding: 10px;
}
*/

/* specific style for messages li */
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages { max-height: 500px; overflow-y:auto; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
